PORT=3000
JWT_SECRET=sua-chave-secreta-super-segura

# Mailtrap
MAILTRAP_USER=seu-usuario-mailtrap
MAILTRAP_PASS=sua-senha-mailtrap

# Frontend URL (para links de reset)
FRONTEND_URL=https://leadenergy-vercel-clean.vercel.app
